<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhizMinds"
        tools:targetApi="31">
        <activity
            android:name=".MaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".QuizDetailActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherAboutActivity"
            android:exported="false" />
        <activity
            android:name=".UploadQuizActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".StudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".StudentClassActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherUpdateSectionActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherSectionsActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherClassActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherCodeActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TeacherRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TeacherDashboard"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherMainActivity"
            android:exported="false" />
        <activity
            android:name=".StudentMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>